<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="_head"></head>
<body>
<div th:include="_topnav::topnav"></div>

<div class="container">

    <h4>Query</h4>
    <h5 th:text="${dateNow}"></h5>

    <div class="starter-template">
        <form action="#" th:action="@{/post_query}" method="post">
            <p>
                <textarea id="query" name="query" rows="4" cols="120" th:text="${query}"></textarea>
            </p>
            <p>
                <input type="submit" name="submit" value="Submit" />
            </p>
            <p>
                <textarea id="results" name="results" rows="28" cols="120" th:text="${results}"></textarea>
            </p>
        </form>
    </div>

</div>

<div th:include="_footer::footer"></div>

</body>
</html>
